

html, body {
  height: 100%;
  width: 100%;
  min-width: 600px;
  min-height: 600px;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin: 0;
  overflow: hidden;
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-areas: 
  'navigation_bar navigation_bar navigation_bar'
  'company_list graph_stocks company_information'
  'user_information user_information user_information';
  grid-template-rows: 5% 80% 15%;
  grid-template-columns: 15% 65% 35%;
}

.nav_bar_cont {
  grid-area: navigation_bar;
  background-color: blue;
}

.company_list_cont {
  grid-area: company_list;
  background-color: red;
}

.graph_cont {
  grid-area: graph_stocks;
  background-color: purple;
}

.user_info_cont {
  grid-area: user_information;
  background-color: green;
}

.company_info_cont {
  grid-area: company_information;
  background-color: yellow;
}

.grid-container-graph {
  display: grid;
  grid-template-areas:
  'graph_display'
  'ui_buttons';
  grid-template-rows: 85% 15%;
}

.graph_display_cont {
  grid-area: graph_display;
  background-color: white;
}

.graph_display {
  background-color: lightgray;
  height: 94%;
  width: 94%;
  margin-left: 3%;
  margin-top: 2%;
}

.ui_buttons_cont {
  grid-area: ui_buttons;
  background-color: black;
}

/* CSS for buttons */
.buy_button, .sell_button {
  padding: 16px 40px;
  transition-duration: 0.4s;
  color:white;
  border-radius: 4px;
  margin-top: 1%;
}

.buy_button {
  background-color: lightcoral;
  border: 2px solid lightcoral;
  float: left;
  margin-left: 10%;
}

.buy_button:hover {
  color:black;
  background-color: white;
}

.sell_button {
  background-color: darkmagenta;
  border: 2px solid darkmagenta;
  float: right;
  margin-right: 10%;
}

.sell_button:hover {
  color:black;
  background-color: white;
}