html {
  min-width: 600px;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  background-color: lightgray;
  margin: 0;
  overflow: hidden;
}

h1 {
  text-align: center;
}

#app {
  width: 100%; 
  margin: 0 auto;
}

#user_interface, #market {
  float: left;
  height: 100%;
  border: 1px solid black;
}

#user_interface {
  width: 15%;
  background-color: blue;
  position: fixed;
}

#market {
  width: 85%;
  background-color: red;
  float: right;
}

#graph, #equity_figures {
  float: left;
  height: 100%;
  border: 1px solid white;
}

#graph {
  width: 65%;
  background-color: aqua;
  position: fixed;
}

#equity_figures {
  width: 35%;
  background-color: burlywood;
  float: right;
}

#display, #user_buttons {
  float: left;
  width: 100%;
  border: 1px solid black;
}

#display {
  height: 85%;
  background-color: aquamarine;
}

#user_buttons {
  height: 15%;
  background-color: aliceblue;
}

#graph_display {
  background-color: white;
  width: 94%;
  height: 94%;
  margin-left: 3%;
  margin-top: 3%;
}

#graph_display_canvas{
  width: 100%;
  height: 100%;
}

#buy, #sell {
  padding: 16px 40px;
  transition-duration: 0.4s;
  color:white;
  border-radius: 4px;
}

#buy {
  background-color: lightgreen;
  border: 2px solid lightgreen;
  margin-left: 10%;
}

#buy:hover {
  color: black;
  background-color: white;
}

#sell {
  background-color: darkgreen;
  border: 2px solid darkgreen;
  float: right;
  margin-right: 10%;
}

#sell:hover {
  color: black;
  background-color: white;
}

#navigation {
  height: 50%;
  background-color: blueviolet;
}

.svg-plot, .canvas-plot {
  position: absolute;
}